// Custom layout styles

// Default font family
@font-face {
  font-family: 'gotham-rounded';
  src: url(gotham-rounded-medium.otf);
}

// Body background
body {
  background-image: url(body_bg.png);
  background-position: center;
  color: #fff;
}

// Logo
.title-area{
  a { padding:0 !important }
  i {
    font-size: 30px;
    position: relative;
    top: 2px;
  }
}

// Topbar items
li {
  list-style-type: none; /* Убираем маркеры */
}
ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
.top-bar-section ul li { background: transparent !important}
.right {
  display: inline-block;
}
.top-bar { background: transparent !important}
.left { 
  background: transparent !important;
  display: block;
  float: left;
}

.title-area li {
  display: block;
  float: left;
  margin-right: 30px;

}
// Forms
.form-container {
  padding: 3% 3%;
  .switch > div {
    position: relative !important ;
    top: -5px !important ; 
  }
}

.user-session { background: transparent !important; padding: 7px }

.user-session li {
  display: inline-block;
  position: relative;
  vertical-align: center;
  padding-right: 25px;
  background: transparent !important;
 }
